<section id="banner" class="container-fluid banner-main">
    <div class="container-fluid banner-content w-100">
        <div class="d-flex flex-column justify-content-center h-100">
            <div class="text-white ml-auto text-right pr-5">
                <p><i class="fas fa-square text-primary"></i> THE ALL NEW</p>
                <h1>2020 MERCEDES-BENZ</h1>
                <h3>MODEL NAME</h3>
                <p>Starts from </p>
                <h3>$60,000 <i class="fas fa-play text-primary"></i> </h3>
            </div>
        </div>
    </div>
</section>