<section id="gallery" class="container-fluid py-5">
    <div class="container-fluid">
        <div class="d-flex justify-content-center py-5">
            <h1>OUR</h1>
            <h1 class="text-center mx-3 car-dealer">GALLERY</h1>
        </div>
        <div class="container-fluid">
            <div class="row py-5">
                <div class="col-lg-6 py-2">
                    <img class="w-100 h-100"
                        src="https://images.pexels.com/photos/3354648/pexels-photo-3354648.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        alt="">
                </div>
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <div class="row ">
                        <div class="col-lg-6 pb-2 ">
                            <img class="w-100"
                                src="https://images.pexels.com/photos/3136673/pexels-photo-3136673.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                alt="">
                        </div>
                        <div class="col-lg-6 pb-2 ">
                            <img class="w-100"
                                src="https://images.pexels.com/photos/1098662/pexels-photo-1098662.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                alt="">
                        </div>
                        <div class="col-lg-6 pt-2 ">
                            <img class="w-100"
                                src="https://images.pexels.com/photos/2710043/pexels-photo-2710043.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                alt="">
                        </div>
                        <div class="col-lg-6 pt-2 ">
                            <img class="w-100"
                                src="https://images.pexels.com/photos/1402787/pexels-photo-1402787.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>