    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <h1>OUR</h1>
            <h1 class="text-center mx-3 car-dealer">INVENTORY</h1>
        </div>
    </div>
    <div class="container-fluid col-10 text-right">
        <button type="button" class="btn btn-outline-dark">ALL</button>
        <button type="button" class="btn btn-outline-dark">AMERICAN</button>
        <button type="button" class="btn btn-outline-dark">GERMAN</button>
    </div>
    <div class="album py-5 bg-white col-10 mx-auto">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top size w-100"
                            src="https://images.pexels.com/photos/810357/pexels-photo-810357.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                            alt="">
                        <div class="card-body">
                            <div class="d-flex justify-content-around align-items-center">
                                <div>
                                    <p class="font-weight-bold">CAR MAKER</p>
                                    <p>CAR MODEL</p>
                                    <p></p>
                                </div>
                                <div class="cost text-center ">
                                    <p class="mt-2 font-weight-bold">$10,000</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-around p-0 pt-3">
                            <p><i class="fas fa-car"></i> Sedan</p>
                            <p><i class="fas fa-cogs"></i> Automatic</p>
                            <p><i class="fas fa-oil-can"></i> 50</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top size"
                            src="https://images.pexels.com/photos/39855/lamborghini-brno-racing-car-automobiles-39855.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                            alt="">
                        <div class="card-body">
                            <div class="d-flex justify-content-around align-items-center">
                                <div>
                                    <p class="font-weight-bold">CAR MAKER</p>
                                    <p>CAR MODEL</p>
                                    <p></p>
                                </div>
                                <div class="cost text-center ">
                                    <p class="mt-2 font-weight-bold">$10,000</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-around p-0 pt-3">
                            <p><i class="fas fa-car"></i> Sedan</p>
                            <p><i class="fas fa-cogs"></i> Automatic</p>
                            <p><i class="fas fa-oil-can"></i> 50</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top size"
                            src="https://images.pexels.com/photos/193021/pexels-photo-193021.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                            alt="">
                        <div class="card-body">
                            <div class="d-flex justify-content-around align-items-center">
                                <div>
                                    <p class="font-weight-bold">CAR MAKER</p>
                                    <p>CAR MODEL</p>
                                    <p></p>
                                </div>
                                <div class="cost text-center ">
                                    <p class="mt-2 font-weight-bold">$10,000</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-around p-0 pt-3">
                            <p><i class="fas fa-car"></i> Sedan</p>
                            <p><i class="fas fa-cogs"></i> Automatic</p>
                            <p><i class="fas fa-oil-can"></i> 50</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top size"
                            src="https://images.pexels.com/photos/241316/pexels-photo-241316.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                            alt="">
                        <div class="card-body">
                            <div class="d-flex justify-content-around align-items-center">
                                <div>
                                    <p class="font-weight-bold">CAR MAKER</p>
                                    <p>CAR MODEL</p>
                                    <p></p>
                                </div>
                                <div class="cost text-center ">
                                    <p class="mt-2 font-weight-bold">$10,000</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-around p-0 pt-3">
                            <p><i class="fas fa-car"></i> Sedan</p>
                            <p><i class="fas fa-cogs"></i> Automatic</p>
                            <p><i class="fas fa-oil-can"></i> 50</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top size"
                            src="https://images.pexels.com/photos/50704/car-race-ferrari-racing-car-pirelli-50704.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                            alt="">
                        <div class="card-body">
                            <div class="d-flex justify-content-around align-items-center">
                                <div>
                                    <p class="font-weight-bold">CAR MAKER</p>
                                    <p>CAR MODEL</p>
                                    <p></p>
                                </div>
                                <div class="cost text-center ">
                                    <p class="mt-2 font-weight-bold">$10,000</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-around p-0 pt-3">
                            <p><i class="fas fa-car"></i> Sedan</p>
                            <p><i class="fas fa-cogs"></i> Automatic</p>
                            <p><i class="fas fa-oil-can"></i> 50</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top size"
                            src="https://images.pexels.com/photos/132774/pexels-photo-132774.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                            alt="">
                        <div class="card-body">
                            <div class="d-flex justify-content-around align-items-center">
                                <div>
                                    <p class="font-weight-bold">CAR MAKER</p>
                                    <p>CAR MODEL</p>
                                    <p></p>
                                </div>
                                <div class="cost text-center ">
                                    <p class="mt-2 font-weight-bold">$10,000</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-around p-0 pt-3">
                            <p><i class="fas fa-car"></i> Sedan</p>
                            <p><i class="fas fa-cogs"></i> Automatic</p>
                            <p><i class="fas fa-oil-can"></i> 50</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>