<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <i class="fas fa-car display-4"></i>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Skills</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Inventory</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Featured</a>
            </li>
        </ul>
    </div>
    <div class="d-lg-block d-none">
        <i class="fab fa-facebook-square display-4 text-primary"></i>
        <i class="fab fa-twitter display-4 text-primary"></i>
        <i class="fab fa-instagram display-4 text-primary"></i>
    </div>
</nav>