<section id="question" class="py-5">
    <div class="container-fluid question-main w-100 d-flex flex-column justify-content-center">
        <div class="row justify-content-center d-flex ">
            <div class="col-lg-5 question1 px-0 mt-5">
                <div class=" p-3 question2-1 w-100 h-100 d-flex flex-column justify-content-center ">
                    <div class="d-flex">
                        <i class="fas fa-search display-4 m-3 text-primary"></i>
                        <div>
                            <h3>Are You Looking For A Car ?</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, dignissimos?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 question1 d-flex flex-column justify-content-center px-0 mt-5">
                <div class="p-3 question2-2 w-100 h-100 d-flex flex-column justify-content-center ">
                    <div class=" d-flex ">
                        <i class=" fas fa-dollar-sign display-4 m-3 text-primary"></i>
                        <div>
                            <h3>Are You Looking For A Car ?</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, dignissimos?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>