<section id="quotes" class="container-fluid py-5">
    <div class="d-flex justify-content-center py-5">
        <h1>WHAT THEY</h1>
        <h1 class="text-center mx-3 car-dealer">SAY</h1>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mx-auto" style="width: 18rem;">
                    <img class="w-25 rounded-circle img-prof"
                        src="https://images.pexels.com/photos/1230349/pexels-photo-1230349.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="">
                    <img class="img-size"
                        src="https://images.pexels.com/photos/210019/pexels-photo-210019.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title pt-3"><a href="#">Customer Name</a> </h5>
                        <p class="card-text">Customer Job</p>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis,
                            perferendis? Et perferendis harum nemo delectus aut facere possimus ex voluptatum?</p>
                        <i class="fas fa-quote-left display-4"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mx-auto" style="width: 18rem;">
                    <img class="w-25 rounded-circle img-prof"
                        src="https://images.pexels.com/photos/1545980/pexels-photo-1545980.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="">
                    <img class="img-size"
                        src="https://images.pexels.com/photos/2920064/pexels-photo-2920064.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title pt-3"><a href="#">Customer Name</a> </h5>
                        <p class="card-text">Customer Job</p>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis,
                            perferendis? Et perferendis harum nemo delectus aut facere possimus ex voluptatum?</p>
                        <i class="fas fa-quote-left display-4"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mx-auto" style="width: 18rem;">
                    <img class="w-25 rounded-circle img-prof"
                        src="https://images.pexels.com/photos/1070970/pexels-photo-1070970.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="">
                    <img class="img-size"
                        src="https://images.pexels.com/photos/1098662/pexels-photo-1098662.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title pt-3"><a href="#">Customer Name</a> </h5>
                        <p class="card-text">Customer Job</p>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis,
                            perferendis? Et perferendis harum nemo delectus aut facere possimus ex voluptatum?</p>
                        <i class="fas fa-quote-left display-4"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>