<section class="container-fluid py-5 bg-dark">
    <div class="d-flex text-warning justify-content-around">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-google-plus"></i>
    </div>
</section>