<section id="video" class="container-fluid">
    <div class="container-fluid">
        <div class="d-flex justify-content-center py-5">
            <h1>OUR</h1>
            <h1 class="text-center mx-3 car-dealer">SERVICES</h1>
        </div>
    </div>
    <!-- Video -->
    <div class="container text-center mx-auto px-0 w-100 back-main ">
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" class="background">
            <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
        </video>
        <div class="video-height bg-danger">
            <div class="container video d-flex flex-column justify-content-center">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="bg-dark col-7 mx-auto">
                            <i class="fas fa-cogs text-warning display-4"></i>
                            <p class="text-white">Vehicle</p>
                            <h4 class="text-white">REPAIR</h4>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="bg-dark col-7 mx-auto">
                            <i class="fas fa-car-battery text-warning display-4"></i>
                            <p class="text-white">Battery</p>
                            <h4 class="text-white">REPLACEMENT</h4>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="bg-dark col-7 mx-auto">
                            <i class="fas fa-car-crash text-warning display-4"></i>
                            <p class="text-white">Roadside</p>
                            <h4 class="text-white">ASSISTANCE</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video -->

</section>