.banner-content {
  height: 90vh;
  background: url("https://images.pexels.com/photos/120049/pexels-photo-120049.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  transition: all 0.5s linear;
  animation: zoominoutsinglefeatured 3s infinite;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-main {
  overflow: hidden;
}

@keyframes zoominoutsinglefeatured {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

/* Start car-dealer */

.car-dealer {
  color: white;
  background-color: #007bff;
  width: 300px;
  height: 60px;
  transform: skew(-20deg);
}

/* End car-dealer */

/* Start underline */

.underline {
  border-bottom: 10px solid black;
  width: 100px;
  margin: 0 auto;
}

/* End underline */

/* Start cost */

.cost {
  border-bottom: 50px solid #007bff;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 125px;
  color: white;
}

/* End cost */

/* Start size */

.size {
  height: 250px;
}

/* End size */

/* Start question-main */

.question-main {
  background: url("https://images.pexels.com/photos/2127039/pexels-photo-2127039.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 40vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 0.8;
}

/* End question-main */

/* Start question1 */

.question1 {
  height: 20vh;
}

/* End question1 */

/* Start questio2-1 */

.question2-1 {
  height: 130px;
  background-color: white;
  opacity: 0.8;

}

/* End question2-1 */

/* Start questio2-2 */

.question2-2 {
  height: 130px;
  background-color: yellow;
  opacity: 0.8;
}

/* End question2-2 */