.banner-content {
    height: 90vh;
    background: url("https://images.pexels.com/photos/120049/pexels-photo-120049.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    transition: all 0.5s linear;
    animation: zoominoutsinglefeatured 2s infinite;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-main {
    overflow: hidden;
}

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.1, 1.1);
    }

    100% {
        transform: scale(1, 1);
    }
}